@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
     background-color: yellow;
 }
 .test{
     font-size: larger;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .instructions{
     background: #FFDB33;
     align-items: center;
     padding: 50px;
     font-family: "Lucida Console", "Courier New", monospace;

 }